# Credit risk analysis

## Introduction

This is an analysis of our customer base. It contains:

* Basic characteristics of customers
* Statistics
* Useful insights

## Required  modules

We use the **pandas** library to import and analyze the data.

In [47]:
import pandas as pd
import numpy as np

## Data import

We will import the German Data dataset

In [3]:
data = pd.read_csv("data/german_data_clean.csv")

## Data exploration

In [4]:
# show technical information of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   checking_account           1000 non-null   object
 1   duration_months            1000 non-null   int64
 2   credit_history             1000 non-null   object
 3   purpose                    1000 non-null   object
 4   credit_amount              1000 non-null   int64
 5   savings                    1000 non-null   object
 6   present_employment_since   1000 non-null   object
 7   installment_rate           1000 non-null   int64
 8   personal_status_sex        1000 non-null   object
 9   other_deptors              1000 non-null   object
 10  present_residence          1000 non-null   int64
 11  property                   1000 non-null   object
 12  age_years                  1000 non-null   int64
 13  other_installment_plans    1000 non-null   object
 14  housing                    1000 non-null   object
 15  existing_credits           1000 non-null   int64
 16  job                        1000 non-null   object
 17  people_liable_maintenance  1000 non-null   int64
 18  telephone                  1000 non-null   object
 19  foreign_worker             1000 non-null   object
 20  response                   1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [5]:
# show information about the variables
data.describe()

,duration_months,credit_amount,installment_rate,present_residence,age_years,existing_credits,people_liable_maintenance,response
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,0.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,0.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,0.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,0.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,1.000000

## Selecting columns in pandas

In [6]:
data.columns

Index(['checking_account', 'duration_months', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment_since',
       'installment_rate', 'personal_status_sex', 'other_deptors',
       'present_residence', 'property', 'age_years', 'other_installment_plans',
       'housing', 'existing_credits', 'job', 'people_liable_maintenance',
       'telephone', 'foreign_worker', 'response'],
      dtype='object')

In [18]:
data['age_years'].mean()

35.546

In [20]:
# show the different purposes
data['purpose'].unique()

array(['radio/television', 'education', 'furniture/equipment',
       'car (new)', 'car (used)', 'business', 'domestic appliances',
       'repairs', 'others', 'retraining'], dtype=object)

In [21]:
# show how much each purpose occurs
data['purpose'].value_counts()

purpose
radio/television       280
car (new)              234
furniture/equipment    181
car (used)             103
business                97
education               50
repairs                 22
domestic appliances     12
others                  12
retraining               9
Name: count, dtype: int64

In [22]:
data

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,1
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,0
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,(if not real estate) building society savings ...,45,none,for free,1,skilled employee / official,2,none,yes,0
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No checking account,12,existing credits paid back duly till now,furniture/equipment,1736,... < 51 euro,4 <= ... < 7 years,3,female : divorced/separated/married,none,...,real estate,31,none,own,1,unskilled - resident,1,none,yes,0
996,... < 0 euro,30,existing credits paid back duly till now,car (used),3857,... < 51 euro,1 <= ... < 4 years,4,male : divorced/separated,none,...,(if not real estate) building society savings ...,40,none,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0
997,No checking account,12,existing credits paid back duly till now,radio/television,804,... < 51 euro,.. >= 7 years,4,male : single,none,...,"(if not optin 1 or 2) car or other, not in att...",38,none,own,1,skilled employee / official,1,none,yes,0
998,... < 0 euro,45,existing credits paid back duly till now,radio/television,1845,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes,1
999,0 <= ... < 102 euro,45,critical account/other credits existing (not a...,car (used),4576,51 <= ... < 255 euro,unemployed,3,male : single,none,...,"(if not optin 1 or 2) car or other, not in att...",27,none,own,1,skilled employee / official,1,none,yes,0

In [26]:
# show first 5 rows
data.head()

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,1
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,0
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,(if not real estate) building society savings ...,45,none,for free,1,skilled employee / official,2,none,yes,0
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,1

In [ ]:
# show first 20 rows
data.head(20)

In [28]:
# show the final rows
data.tail()

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,property,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,1
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,0
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,(if not real estate) building society savings ...,45,none,for free,1,skilled employee / official,2,none,yes,0
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,No checking account,12,critical account/other credits existing (not a...,education,3565,unknown/ no savings account,... < 1 year,2,male : single,none,...,(if not real estate) building society savings ...,37,none,own,2,unskilled - resident,2,none,yes,0
991,No checking account,15,all credits at this bank paid back duly,radio/television,1569,51 <= ... < 255 euro,.. >= 7 years,4,male : single,none,...,"(if not optin 1 or 2) car or other, not in att...",34,bank,own,1,unskilled - resident,2,none,yes,0
992,... < 0 euro,18,existing credits paid back duly till now,radio/television,1936,unknown/ no savings account,4 <= ... < 7 years,2,male : married/widowed,none,...,"(if not optin 1 or 2) car or other, not in att...",23,none,rent,2,unskilled - resident,1,none,yes,0
993,... < 0 euro,36,existing credits paid back duly till now,furniture/equipment,3959,... < 51 euro,unemployed,4,male : single,none,...,(if not real estate) building society savings ...,30,none,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0
994,No checking account,12,existing credits paid back duly till now,car (new),2390,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,"(if not optin 1 or 2) car or other, not in att...",50,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes,0

In [29]:
# show the dimensions of the dataset
data.shape

(1000, 21)

## Selecting multiple columns

In [30]:
data['age_years']

0      67
1      22
2      49
3      45
4      53
       ..
995    31
996    40
997    38
998    23
999    27
Name: age_years, Length: 1000, dtype: int64

In [33]:
# select multiple columns by a list
data[['age_years', 'purpose']]

     age_years              purpose
0           67     radio/television
1           22     radio/television
2           49            education
3           45  furniture/equipment
4           53            car (new)
..         ...                  ...
995         31  furniture/equipment
996         40           car (used)
997         38     radio/television
998         23     radio/television
999         27           car (used)

[1000 rows x 2 columns]

## Apply calculations

In [42]:
data['credit_amount'] / data['duration_months']

0      194.833333
1      123.979167
2      174.666667
3      187.666667
4      202.916667
          ...
995    144.666667
996    128.566667
997     67.000000
998     41.000000
999    101.688889
Length: 1000, dtype: float64

In [43]:
data['monthly_payment'] = data['credit_amount'] / data['duration_months']

In [44]:
data

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,age_years,other_installment_plans,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response,monthly_payment
0,... < 0 euro,6,critical account/other credits existing (not a...,radio/television,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0,194.833333
1,0 <= ... < 102 euro,48,existing credits paid back duly till now,radio/television,5951,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,22,none,own,1,skilled employee / official,1,none,yes,1,123.979167
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,49,none,own,1,unskilled - resident,2,none,yes,0,174.666667
3,... < 0 euro,42,existing credits paid back duly till now,furniture/equipment,7882,... < 51 euro,4 <= ... < 7 years,2,male : single,guarantor,...,45,none,for free,1,skilled employee / official,2,none,yes,0,187.666667
4,... < 0 euro,24,delay in paying off in the past,car (new),4870,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,53,none,for free,2,skilled employee / official,2,none,yes,1,202.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,No checking account,12,existing credits paid back duly till now,furniture/equipment,1736,... < 51 euro,4 <= ... < 7 years,3,female : divorced/separated/married,none,...,31,none,own,1,unskilled - resident,1,none,yes,0,144.666667
996,... < 0 euro,30,existing credits paid back duly till now,car (used),3857,... < 51 euro,1 <= ... < 4 years,4,male : divorced/separated,none,...,40,none,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0,128.566667
997,No checking account,12,existing credits paid back duly till now,radio/television,804,... < 51 euro,.. >= 7 years,4,male : single,none,...,38,none,own,1,skilled employee / official,1,none,yes,0,67.000000
998,... < 0 euro,45,existing credits paid back duly till now,radio/television,1845,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes,1,41.000000
999,0 <= ... < 102 euro,45,critical account/other credits existing (not a...,car (used),4576,51 <= ... < 255 euro,unemployed,3,male : single,none,...,27,none,own,1,skilled employee / official,1,none,yes,0,101.688889

In [45]:
# conditional column
data['purpose'].unique()

array(['radio/television', 'education', 'furniture/equipment',
       'car (new)', 'car (used)', 'business', 'domestic appliances',
       'repairs', 'others', 'retraining'], dtype=object)

In [46]:
data['credit_amount'].describe()

count     1000.000000
mean      3271.258000
std       2822.736876
min        250.000000
25%       1365.500000
50%       2319.500000
75%       3972.250000
max      18424.000000
Name: credit_amount, dtype: float64

In [55]:
car_loans = ['car (new)', 'car (used)']

data['car_loans'] = np.where(data['purpose'].isin(car_loans), "car_loans", "non_car_loans")
data['high_car_loans'] = np.where((data['car_loans'] == "car_loans") & (data['credit_amount'] > 5000), "high_car_loans", "regular")

data['high_car_loans'].value_counts()

high_car_loans
regular           911
high_car_loans     89
Name: count, dtype: int64

## Filtering data

In [56]:
# using 'query' to filter the data
data.query("age_years < 20")

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response,monthly_payment,high_car_loans,car_loans
391,0 <= ... < 102 euro,12,existing credits paid back duly till now,furniture/equipment,983,.. >= 511 euro,... < 1 year,1,female : divorced/separated/married,none,...,rent,1,unskilled - resident,1,none,yes,0,81.916667,regular,non_car_loans
633,No checking account,9,existing credits paid back duly till now,furniture/equipment,1980,... < 51 euro,... < 1 year,2,female : divorced/separated/married,co-applicant,...,rent,2,skilled employee / official,1,none,yes,1,220.000000,regular,non_car_loans

In [60]:
# combine queries
data.query("age_years > 50 & purpose == 'business'")

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response,monthly_payment,high_car_loans,car_loans
29,... < 0 euro,60,delay in paying off in the past,business,6836,... < 51 euro,.. >= 7 years,3,male : single,none,...,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,1,113.933333,regular,non_car_loans
33,No checking account,12,critical account/other credits existing (not a...,business,1264,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,rent,1,unskilled - resident,1,none,yes,0,105.333333,regular,non_car_loans
62,0 <= ... < 102 euro,36,no credits taken/ all credits paid back duly,business,1953,... < 51 euro,.. >= 7 years,4,male : single,none,...,for free,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,54.250000,regular,non_car_loans
95,0 <= ... < 102 euro,54,no credits taken/ all credits paid back duly,business,15945,... < 51 euro,... < 1 year,3,male : single,none,...,rent,1,skilled employee / official,1,"yes, registered under the customers name",yes,1,295.277778,regular,non_car_loans
190,No checking account,24,existing credits paid back duly till now,business,4591,.. >= 511 euro,1 <= ... < 4 years,2,male : single,none,...,own,3,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,191.291667,regular,non_car_loans
213,>= 102 euro,30,delay in paying off in the past,business,1908,... < 51 euro,.. >= 7 years,4,male : single,none,...,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,63.600000,regular,non_car_loans
237,0 <= ... < 102 euro,21,existing credits paid back duly till now,business,2767,51 <= ... < 255 euro,.. >= 7 years,4,male : divorced/separated,none,...,rent,2,unskilled - resident,1,none,yes,1,131.761905,regular,non_car_loans
430,No checking account,5,existing credits paid back duly till now,business,3448,... < 51 euro,4 <= ... < 7 years,1,male : single,none,...,own,1,unskilled - resident,1,none,yes,0,689.600000,regular,non_car_loans
606,No checking account,24,critical account/other credits existing (not a...,business,4526,... < 51 euro,1 <= ... < 4 years,3,male : single,none,...,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0,188.583333,regular,non_car_loans
728,0 <= ... < 102 euro,48,all credits at this bank paid back duly,business,6416,... < 51 euro,.. >= 7 years,4,female : divorced/separated/married,none,...,rent,1,skilled employee / official,1,none,yes,1,133.666667,regular,non_car_loans

In [61]:
selected_purposes = ['education', 'retraining']

data.query("purpose == @selected_purposes") # SQL Equivalent: WHERE purpose in ('education', 'retraining')

,checking_account,duration_months,credit_history,purpose,credit_amount,savings,present_employment_since,installment_rate,personal_status_sex,other_deptors,...,housing,existing_credits,job,people_liable_maintenance,telephone,foreign_worker,response,monthly_payment,high_car_loans,car_loans
2,No checking account,12,critical account/other credits existing (not a...,education,2096,... < 51 euro,4 <= ... < 7 years,2,male : single,none,...,own,1,unskilled - resident,2,none,yes,0,174.666667,regular,non_car_loans
5,No checking account,36,existing credits paid back duly till now,education,9055,unknown/ no savings account,1 <= ... < 4 years,2,male : single,none,...,for free,1,unskilled - resident,2,"yes, registered under the customers name",yes,0,251.527778,regular,non_car_loans
36,No checking account,48,critical account/other credits existing (not a...,education,6110,... < 51 euro,1 <= ... < 4 years,1,male : single,none,...,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes,0,127.291667,regular,non_car_loans
68,No checking account,36,existing credits paid back duly till now,education,1819,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes,1,50.527778,regular,non_car_loans
74,... < 0 euro,36,existing credits paid back duly till now,education,1977,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,54.916667,regular,non_car_loans
87,0 <= ... < 102 euro,36,existing credits paid back duly till now,education,12612,51 <= ... < 255 euro,1 <= ... < 4 years,1,male : single,none,...,for free,1,skilled employee / official,2,"yes, registered under the customers name",yes,1,350.333333,regular,non_car_loans
96,No checking account,12,critical account/other credits existing (not a...,education,2012,unknown/ no savings account,4 <= ... < 7 years,4,female : divorced/separated/married,none,...,own,1,skilled employee / official,1,none,yes,0,167.666667,regular,non_car_loans
111,>= 102 euro,15,existing credits paid back duly till now,education,392,... < 51 euro,... < 1 year,4,female : divorced/separated/married,none,...,rent,1,skilled employee / official,1,"yes, registered under the customers name",yes,0,26.133333,regular,non_car_loans
131,... < 0 euro,36,delay in paying off in the past,education,6887,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,own,1,skilled employee / official,1,"yes, registered under the customers name",yes,1,191.305556,regular,non_car_loans
157,... < 0 euro,12,all credits at this bank paid back duly,retraining,339,... < 51 euro,.. >= 7 years,4,male : married/widowed,none,...,own,1,unskilled - resident,1,none,yes,0,28.250000,regular,non_car_loans
174,... < 0 euro,21,delay in paying off in the past,education,3414,... < 51 euro,... < 1 year,2,male : single,none,...,own,2,skilled employee / official,1,none,yes,1,162.571429,regular,non_car_loans
195,0 <= ... < 102 euro,9,critical account/other credits existing (not a...,education,1501,... < 51 euro,.. >= 7 years,2,female : divorced/separated/married,none,...,own,2,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,166.777778,regular,non_car_loans
200,No checking account,9,critical account/other credits existing (not a...,education,936,255 euro <= ... < 511 euro,.. >= 7 years,4,male : single,none,...,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0,104.000000,regular,non_car_loans
203,... < 0 euro,12,existing credits paid back duly till now,retraining,902,... < 51 euro,4 <= ... < 7 years,4,male : married/widowed,none,...,rent,1,skilled employee / official,1,none,yes,1,75.166667,regular,non_car_loans
215,0 <= ... < 102 euro,6,critical account/other credits existing (not a...,retraining,932,unknown/ no savings account,4 <= ... < 7 years,1,female : divorced/separated/married,none,...,own,2,unskilled - resident,1,none,yes,0,155.333333,regular,non_car_loans
221,... < 0 euro,12,existing credits paid back duly till now,education,1200,unknown/ no savings account,1 <= ... < 4 years,4,female : divorced/separated/married,none,...,rent,1,skilled employee / official,1,"yes, registered under the customers name",yes,0,100.000000,regular,non_car_loans
244,No checking account,12,all credits at this bank paid back duly,retraining,3447,255 euro <= ... < 511 euro,1 <= ... < 4 years,4,female : divorced/separated/married,none,...,own,1,unskilled - resident,2,none,yes,0,287.250000,regular,non_car_loans
263,No checking account,12,critical account/other credits existing (not a...,education,2748,... < 51 euro,.. >= 7 years,2,female : divorced/separated/married,none,...,for free,3,unskilled - resident,1,none,yes,0,229.000000,regular,non_car_loans
318,No checking account,12,critical account/other credits existing (not a...,education,701,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,own,2,skilled employee / official,1,none,yes,0,58.416667,regular,non_car_loans
331,No checking account,18,critical account/other credits existing (not a...,education,1864,51 <= ... < 255 euro,1 <= ... < 4 years,4,female : divorced/separated/married,none,...,own,2,skilled employee / official,1,none,yes,1,103.555556,regular,non_car_loans
340,0 <= ... < 102 euro,24,critical account/other credits existing (not a...,education,5743,... < 51 euro,... < 1 year,2,female : divorced/separated/married,none,...,for free,2,skilled employee / official,1,"yes, registered under the customers name",yes,0,239.291667,regular,non_car_loans
349,0 <= ... < 102 euro,9,critical account/other credits existing (not a...,education,1136,.. >= 511 euro,.. >= 7 years,4,male : single,none,...,for free,2,skilled employee / official,2,none,yes,1,126.222222,regular,non_car_loans
354,No checking account,10,existing credits paid back duly till now,education,727,255 euro <= ... < 511 euro,.. >= 7 years,4,male : single,none,...,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes,0,72.700000,regular,non_car_loans
360,0 <= ... < 102 euro,18,existing credits paid back duly till now,education,1239,unknown/ no savings account,1 <= ... < 4 years,4,male : single,none,...,for free,1,skilled employee / official,1,none,yes,0,68.833333,regular,non_car_loans
395,0 <= ... < 102 euro,39,delay in paying off in the past,education,11760,51 <= ... < 255 euro,4 <= ... < 7 years,2,male : single,none,...,rent,1,skilled employee / official,1,"yes, registered under the customers name",yes,0,301.538462,regular,non_car_loans
417,... < 0 euro,18,delay in paying off in the past,education,8471,unknown/ no savings account,1 <= ... < 4 years,1,female : divorced/separated/married,none,...,rent,2,skilled employee / official,1,"yes, registered under the customers name",yes,0,470.611111,regular,non_car_loans
443,No checking account,12,existing credits paid back duly till now,education,719,... < 51 euro,.. >= 7 years,4,male : single,none,...,own,1,unskilled - resident,2,none,yes,1,59.916667,regular,non_car_loans
445,No checking account,9,critical account/other credits existing (not a...,education,1244,unknown/ no savings account,.. >= 7 years,4,female : divorced/separated/married,none,...,rent,2,unskilled - resident,1,none,yes,0,138.222222,regular,non_car_loans
463,0 <= ... < 102 euro,12,existing credits paid back duly till now,retraining,754,unknown/ no savings account,.. >= 7 years,4,male : single,none,...,own,2,skilled employee / official,1,none,yes,0,62.833333,regular,non_car_loans
471,... < 0 euro,6,existing credits paid back duly till now,education,448,... < 51 euro,... < 1 year,4,female : divorced/separated/married,none,...,own,1,skilled employee / official,1,none,yes,1,74.666667,regular,non_car_loans
473,No checking account,6,existing credits paid back duly till now,retraining,1238,unknown/ no savings account,unemployed,4,male : single,none,...,own,1,management/ self-employed/highly qualified emp...,2,"yes, registered under the customers name",yes,0,206.333333,regular,non_car_loans
526,No checking account,15,critical account/other credits existing (not a...,education,1532,51 <= ... < 255 euro,1 <= ... < 4 years,4,female : divorced/separated/married,none,...,own,1,skilled employee / official,1,none,yes,0,102.133333,regular,non_car_loans
530,0 <= ... < 102 euro,36,existing credits paid back duly till now,education,2273,... < 51 euro,4 <= ... < 7 years,3,male : single,none,...,own,2,skilled employee / official,2,none,yes,0,63.138889,regular,non_car_loans
535,>= 102 euro,21,critical account/other credits existing (not a...,education,2319,... < 51 euro,... < 1 year,2,male : divorced/separated,none,...,rent,1,skilled employee / official,1,none,yes,1,110.428571,regular,non_car_loans
554,0 <= ... < 102 euro,9,existing credits paid back duly till now,education,1199,... < 51 euro,4 <= ... < 7 years,4,female : divorced/separated/married,none,...,own,2,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0,133.222222,regular,non_car_loans
577,No checking account,24,critical account/other credits existing (not a...,education,1927,unknown/ no savings account,1 <= ... < 4 years,3,female : divorced/separated/married,none,...,own,2,skilled employee / official,1,"yes, registered under the customers name",yes,0,80.291667,regular,non_car_loans
579,No checking account,24,existing credits paid back duly till now,retraining,937,... < 51 euro,... < 1 year,4,male : married/widowed,none,...,own,2,unskilled - resident,1,none,yes,0,39.041667,regular,non_car_loans
602,0 <= ... < 102 euro,24,all credits at this bank paid back duly,education,1837,... < 51 euro,4 <= ... < 7 years,4,female : divorced/separated/married,none,...,for free,1,unskilled - resident,1,none,yes,1,76.541667,regular,non_car_loans
629,No checking account,9,existing credits paid back duly till now,education,3832,unknown/ no savings account,.. >= 7 years,1,male : single,none,...,own,1,unskilled - resident,1,none,yes,0,425.777778,regular,non_car_loans
635,No checking account,12,existing credits paid back duly till now,education,1393,... < 51 euro,.. >= 7 years,4,male : single,none,...,own,3,skilled employee / official,2,"yes, registered under the customers name",yes,0,116.083333,regular,non_car_loans
640,... < 0 euro,18,existing credits paid back duly till now,education,750,... < 51 euro,unemployed,4,female : divorced/separated/married,none,...,own,1,unemployed/ unskilled - non-resident,1,none,yes,1,41.666667,regular,non_car_loans
642,No checking account,15,existing credits paid back duly till now,education,4623,51 <= ... < 255 euro,1 <= ... < 4 years,3,male : single,none,...,own,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,308.200000,regular,non_car_loans
649,... < 0 euro,12,existing credits paid back duly till now,education,684,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,rent,1,unskilled - resident,2,none,yes,1,57.000000,regular,non_car_loans
650,... < 0 euro,48,existing credits paid back duly till now,education,7476,... < 51 euro,4 <= ... < 7 years,4,male : single,none,...,for free,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0,155.750000,regular,non_car_loans
664,>= 102 euro,6,critical account/other credits existing (not a...,education,1047,... < 51 euro,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,own,1,unskilled - resident,1,none,yes,0,174.500000,regular,non_car_loans
680,No checking account,6,existing credits paid back duly till now,education,1538,... < 51 euro,... < 1 year,1,female : divorced/separated/married,none,...,own,1,skilled employee / official,1,none,yes,0,256.333333,regular,non_car_loans
699,>= 102 euro,15,existing credits paid back duly till now,education,1905,... < 51 euro,.. >= 7 years,4,male : single,none,...,rent,1,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,0,127.000000,regular,non_car_loans
711,... < 0 euro,6,all credits at this bank paid back duly,education,1198,... < 51 euro,.. >= 7 years,4,female : divorced/separated/married,none,...,for free,1,skilled employee / official,1,none,yes,1,199.666667,regular,non_car_loans
721,0 <= ... < 102 euro,6,all credits at this bank paid back duly,education,433,.. >= 511 euro,... < 1 year,4,female : divorced/separated/married,none,...,rent,1,skilled employee / official,2,none,yes,1,72.166667,regular,non_car_loans
771,... < 0 euro,36,critical account/other credits existing (not a...,education,8065,... < 51 euro,1 <= ... < 4 years,3,female : divorced/separated/married,none,...,own,2,management/ self-employed/highly qualified emp...,1,"yes, registered under the customers name",yes,1,224.027778,regular,non_car_loans
782,0 <= ... < 102 euro,12,no credits taken/ all credits paid back duly,retraining,1410,... < 51 euro,1 <= ... < 4 years,2,male : single,none,...,own,1,unskilled - resident,1,"yes, registered under the customers name",yes,0,117.500000,regular,non_car_loans
788,0 <= ... < 102 euro,48,delay in paying off in the past,education,6224,... < 51 euro,.. >= 7 years,4,male : single,none,...,for free,1,skilled employee / official,1,none,yes,1,129.666667,regular,non_car_loans
789,... < 0 euro,40,critical account/other credits existing (not a...,education,5998,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,own,1,skilled employee / official,1,"yes, registered under the customers name",yes,1,149.950000,regular,non_car_loans
800,No checking account,24,critical account/other credits existing (not a...,education,1597,... < 51 euro,.. >= 7 years,4,male : single,none,...,for free,2,skilled employee / official,2,none,yes,0,66.541667,regular,non_car_loans
856,No checking account,10,existing credits paid back duly till now,retraining,894,unknown/ no savings account,4 <= ... < 7 years,4,female : divorced/separated/married,none,...,own,1,skilled employee / official,1,"yes, registered under the customers name",yes,0,89.400000,regular,non_car_loans
885,... < 0 euro,12,existing credits paid back duly till now,education,795,... < 51 euro,... < 1 year,4,female : divorced/separated/married,none,...,own,1,skilled employee / official,1,none,yes,1,66.250000,regular,non_car_loans
907,0 <= ... < 102 euro,36,existing credits paid back duly till now,education,3711,unknown/ no savings account,1 <= ... < 4 years,2,male : married/widowed,none,...,own,1,skilled employee / official,1,none,yes,0,103.083333,regular,non_car_loans
938,0 <= ... < 102 euro,60,existing credits paid back duly till now,education,6288,... < 51 euro,1 <= ... < 4 years,4,male : single,none,...,for free,1,skilled employee / official,1,none,yes,1,104.800000,regular,non_car_loans
990,No checking account,12,critical account/other credits existing (not a...,education,3565,unknown/ no savings account,... < 1 year,2,male : single,none,...,own,2,unskilled - resident,2,none,yes,0,297.083333,regular,non_car_loans

## Aggragation in Pandas

In [124]:
data_overview_age = (data
                     .groupby('purpose')
                     .agg({'age_years': 'mean',
                           'credit_amount': 'sum'})
                     .reset_index()     
                     .sort_values(by="age_years", ascending=False)
                     
                    )

In [123]:
type(data_overview_age)

pandas.core.groupby.generic.DataFrameGroupBy

In [121]:
data_overview_age.columns

Index(['purpose', 'age_years', 'credit_amount'], dtype='object')

In [79]:
name = "arie"
name.upper()

'ARIE'

In [76]:
data_overview_age